{% extends "layout_admin.html" %}

{% block body %}
  <div class="container" id="admin_form_container">
    <div class="product_upload collapse" id="add_product_form">
      <h1 class="form_header">Add New Product</h1>
      <form action="/admin_panel/add_product/" name="addProductForm" enctype="multipart/form-data" method="POST">
        <div class="form-group">
          <label for="product_name">Product Name:</label>
          <input type="text" class="form-control" id="product_name" placeholder="Product Name" name="name" required>
        </div>
        <div class="form-group">
          <label for="category_id">Category ID:</label>
          <input type="number" class="form-control" id="category_id" placeholder="Category ID" name="category_id" required>
        </div>
        <div class="form-group">
          <label for="product_id">Product ID:</label>
          <input type="number" class="form-control" id="product_id" placeholder="Product ID" name="product_id" required>
        </div>
        <div class="form-group">
          <label for="price">Price:</label>
          <input type="number" class="form-control" id="price" placeholder="Price" name="price" required>
        </div>
        <div class="form-group">
          <label for="cost">Cost:</label>
          <input type="number" class="form-control" id="cost" placeholder="Cost" name="cost" required>
        </div>
        <div class="form-group">
          <label for="quantity">Quantity to be added:</label>
          <input type="number" class="form-control" id="quantity" placeholder="Quantity to be added" name="quantity" required>
        </div>
        <div class="form-group">
          <label for="product_image">Add Image:</label>
          <input type="file" class="form-control" id="product_image" name="product_image" required>
        </div>
        <button type="submit" class="btn btn-info">Add Product</button>
      </form>
    </div>
    <div class="collapse" id="add_category_form">
      <h1 class="form_header">Add Category</h1>
      <form name="addProductForm" action="/admin_panel/add_category/" method="post">
        <div class="form-group">
          <label for="category_name">Category Name:</label>
          <input type="text" class="form-control" id="category_name" placeholder="Category Name" name="category_name" required>
        </div>
        <div class="form-group">
          <label for="category_id">Category ID:</label>
          <input type="number" class="form-control" id="category_id" placeholder="Category ID" name="category_id" required>
        </div>
        <button type="submit" class="btn btn-info">Add Category</button>
      </form>
    </div>
    <div class="collapse" id="delete_catagory_form">
      <h1 class="form_header">Delete Category</h1>
      <form name="addProductForm" action="/admin_panel/delete_category/" method="post">
        <div class="form-group">
          <label for="category_id">Category ID:</label>
          <input type="number" class="form-control" id="category_id" placeholder="Category ID" name="category_id" required>
        </div>
        <button type="submit" class="btn btn-danger">Delete Category</button>
      </form>
    </div>
    <div class="collapse" id="update_image_form">
      <h1 class="form_header">Update Image</h1>
      <form class='form-group' action="/admin_panel/update_image/" enctype='multipart/form-data' method='post'>
        <div class="form-group">
          <label for="category_id">Category ID:</label>
          <input type="number" class="form-control" id="category_id" placeholder="Category ID" name="category_id" required>
        </div>
        <div class="form-group">
          <label for="product_id">Product ID:</label>
          <input type="number" class="form-control" id="product_id" placeholder="Product ID" name="product_id" required>
        </div>
        <div class="form-group">
          <label for="product_image">Add Image:</label>
          <input type="file" class="form-control" id="product_image" name="product_image" required>
        </div>
        <button type="submit" class="btn btn-info">Update Image</button>
      </form>
    </div>
  </div>
  <div class="admin_products_view" id="admin_products_view">
    {% for category in category_list %}
      <div id="table_header"><h1>{{ category['categoryID'] }} | {{ category['categoryName'] }}</h1></div>
      <div class="container" id="table_header_update">
          <form action="/admin_panel/update_category_id/{{ category['categoryID'] }}/" class="form-group" method="POST">
            <div class='input-group'>
              <input type='text' class='form-control' placeholder="{{ category['categoryID'] }}" name="category_id" value="{{ category['categoryID'] }}">
              <div class='input-group-append'>
                <button class='btn btn-outline-info' type='submit'>Update</button>
              </div>
            </div>
          </form>
          <form action="/admin_panel/update_category_name/{{ category['categoryID'] }}/" class="form-group" method="POST">
            <div class='input-group'>
              <input type='text' class='form-control' placeholder="{{ category['categoryName'] }}" name="category_name" value="{{ category['categoryName'] }}">
              <div class='input-group-append'>
                <button class='btn btn-outline-info' type='submit'>Update</button>
              </div>
            </div>
          </form>
      </div>
      <table class="table table-striped products_table">
        <thead>
          <tr>
            <th id="admin_view_image"></th>
            <th>Category ID</th>
            <th>Product ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Cost</th>
            <th>Quantity Left</th>
          </tr>
        </thead>
        <tbody>
          {% for product in product_list %}
            {% if product['categoryID'] == category['categoryID'] %}
              <tr>
                <td id="admin_view_image"><img src="/static/images/{{ product['categoryID'] }}_{{ product['productID'] }}.png" alt=''></td>
                <td>
                  <form action="/admin_panel/change_product_category/{{ product['categoryID'] }}/{{ product['productID'] }}/" class="form-group" method="POST">
                    <div class='input-group'>
                      <input type='text' class='form-control' placeholder="{{ product['categoryID'] }}" name="category_id" value="{{ product['categoryID'] }}">
                      <div class='input-group-append'>
                        <button class='btn btn-outline-info' type='submit'>Update</button>
                      </div>
                    </div>
                  </form>
                </td>
                <td>
                  <form action="/admin_panel/update_product_id/{{ product['categoryID'] }}/{{ product['productID'] }}/" class="form-group" method="POST">
                    <div class='input-group'>
                      <input type='text' class='form-control' placeholder="{{ product['productID'] }}" name="product_id" value="{{ product['productID'] }}">
                      <div class='input-group-append'>
                        <button class='btn btn-outline-info' type='submit'>Update</button>
                      </div>
                    </div>
                  </form>
                </td>
                <td>
                  <form action="/admin_panel/update_name/{{ product['categoryID'] }}/{{ product['productID'] }}/" class="form-group" method="POST">
                    <div class='input-group'>
                      <input type='text' class='form-control' placeholder="{{ product['name'] }}" name="name" value="{{ product['name'] }}">
                      <div class='input-group-append'>
                        <button class='btn btn-outline-info' type='submit'>Update</button>
                      </div>
                    </div>
                  </form>
                </td>
                <td>
                  <form action="/admin_panel/update_price/{{ product['categoryID'] }}/{{ product['productID'] }}/" class="form-group" method="POST">
                    <div class='input-group'>
                      <input type='text' class='form-control' placeholder="{{ product['price'] }}" name="price" value="{{ product['price'] }}">
                      <div class='input-group-append'>
                        <button class='btn btn-outline-info' type='submit'>Update</button>
                      </div>
                    </div>
                  </form>
                </td>
                <td>
                  <form action="/admin_panel/update_cost/{{ product['categoryID'] }}/{{ product['productID'] }}/" class="form-group" method="POST">
                    <div class='input-group'>
                      <input type='text' class='form-control' placeholder="{{ product['cost'] }}" name="cost" value="{{ product['cost'] }}">
                      <div class='input-group-append'>
                        <button class='btn btn-outline-info' type='submit'>Update</button>
                      </div>
                    </div>
                  </form>
                </td>
                <td>
                  <form action="/admin_panel/update_quantity/{{ product['categoryID'] }}/{{ product['productID'] }}/" class="form-group" method="POST">
                    <div class='input-group'>
                      <input type='text' class='form-control' placeholder="{{ product['quantityLeft'] }}" name="quantity_left" value="{{ product['quantityLeft'] }}">
                      <div class='input-group-append'>
                        <button class='btn btn-outline-info' type='submit'>Update</button>
                      </div>
                    </div>
                  </form>
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    {% endfor %}
  </div>
{% endblock %}