{% extends "layout.html" %}

{% block body %}
<section class="header">
  <video autoplay loop class="video-background" muted plays-inline>
      <source src="/static/images/site_images/video.mp4" type="video/mp4">
             </video>
  
  
                
  
          
      
      <div class="text">
          <h4>DESIGN * DEVELOPMENT * STYLE</h4>
          <h1>CREATIVE & EXPERIENCED</h1>
          <h3>ENJOY THE COMFORT</h3>
          <button id="buttonone">REGISTER</button>
          <button id="buttontwo">LOGIN</button>
          

  </div>
             </section>
  <div class="home_container">
  <div class="box">
      <div class="imgBox">
          <img src="/static/images/site_images/ar1.png">
          
      </div>
      </div>
  <div class="box">
      <div class="imgBox">
          <img src="/static/images/site_images/ar7.jpg">
          
      </div>
      </div>
  <div class="box">
      <div class="imgBox">
          <img src="/static/images/site_images/ar5.png">
          
      </div>
      </div>
  <div class="box">
      
      <div class="imgBox">
          <img src="/static/images/site_images/ar3.jpg">
          
      </div>
      </div>

  <div class="box">
      <div class="imgBox">
          <img src="/static/images/site_images/ar2.jpg">
          
      </div>
      </div>
  <div class="box">
      <div class="imgBox">
          <img src="/static/images/site_images/5.jpg">
          
      </div>
      </div>

  </div>
{% endblock %}
