<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devie-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- BOOTSTRAP includes here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Defined Stylesheet -->
    <link rel="stylesheet" href="/static/style.css">
    <title> ORANGE! </title>
</head>
<body>
  <header>
    <div class="headerPane">
      <div id="branding">
          <h1 id="logo"><a href="/">ORANGE</a></h1>
      </div>
      <nav>
        <ul>
          <li><a href="/products/women/">Women</a></li>
          <li><a href="/products/men/">Men</a></li>
          <li><a href="#">About Us</a></li>
          {% if session.logged_in %}
            <li><a href="/cart/view/">Cart  <span class="badge">{{ session.cart }}</span></a></li>
            <li><a href="/dashboard/">{{ session.username }}</a> | <a href="/logout/">Sign out</a></li>
          {% else %}
            <li><a href="/login/">Login</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </header>
  <div id="ceiling"></div>
  {% include "includes/_messages.html" %}
  
  {% block body %}
  {% endblock %}
</body>
</html>
